* {
    font-family: Arial, Helvetica, sans-serif;
}

div:hover {
    color: lightgreen;
    cursor: pointer;
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
    color: rgb(233, 86, 86);
    width: 30vw;
    background-color: lightgrey;
}